# Kickstarter Projects

In [1]:
#Libraries used throughout the assignment
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import math
import requests
import io
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, Imputer
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
#Read in csv - local path to csv file listed below.
csvPath = 'C:\Users\stf\Downloads\kickstarter-projects'

#Change path to csvPath
os.chdir(csvPath)

#Read 2016 projects in as pandas DataFrame
df = pd.read_csv('ks-projects-201612.csv')

#Remove the last three columns of the 
#df = df[list(df)[:-4]]

#Remove trailing white space from header
df.columns = df.columns.str.strip().str.replace(' ','_').str.replace(':','')

#View a subset of the data
df.head(10)

OSError: [Errno 2] No such file or directory: 'C:\\Users\\stf\\Downloads\\kickstarter-projects'

In [80]:
#df['name'] = np.where(df['Unnamed: 16'].isna() == False, df['name'] + df['category'] + df['main_category'], df['name'])
df[(df['Unnamed: 16'].isna() == False)]
#['name'] = 'X'

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
269970,677103185,x Angels Demons,Angels,Demons,Religion,Esoteric,Graphic Novels,Comics,USD,2015-10-10 01:00:00,750,2015-09-10 18:15:45,25,failed,1,US,25.0

In [73]:
#df.loc[(df['name'] == df[['name', 'category', 'main_category']]), 'Unnamed: 16'].isna() == False
df.loc[(df['Unnamed: 16'].isna() == False)]
       #, 'name'] 
#= df[['name','category','main_category']].apply(lambda x: ''.join(x), axis=1)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
269970,677103185,SixSixSeven,Angels,Demons,Religion,Esoteric,Graphic Novels,Comics,USD,2015-10-10 01:00:00,750,2015-09-10 18:15:45,25,failed,1,US,25.0

In [90]:
df.columns

Index([u'ID', u'name', u'category', u'main_category', u'currency', u'deadline',
       u'goal', u'launched', u'pledged', u'state', u'backers', u'country',
       u'usd_pledged', u'Unnamed_13', u'Unnamed_14', u'Unnamed_15',
       u'Unnamed_16'],
      dtype='object')

In [91]:
def nameConcat(row):
    if row.Unnamed_16.isna() == False:
        print(row.name)
    else:
        print("Data is missing")

In [92]:
df.apply(nameConcat, axis=1)

AttributeError: ("'float' object has no attribute 'isna'", u'occurred at index 0')

In [221]:
#remove all rows that have invalid numbers and/or impute missing numbers
df_filtered = df[
        (df['Unnamed_13'].isna() == False) |
        (df['Unnamed_14'].isna() == False) |
        (df['Unnamed_15'].isna() == False) |
        (df['Unnamed_16'].isna() == False)
        ]

In [113]:
def print_name(row):
    return row['name']

In [125]:
def nameConcat(row):
    row['Unnamed_16'].astype(str).isna() == False

In [126]:
df_filtered.apply(nameConcat, axis=1)

AttributeError: ("'float' object has no attribute 'astype'", u'occurred at index 1454')

In [222]:
for index, row in df_filtered.iterrows():
    cols = list(df_filtered)
    if row.Unnamed_16 > 0:
        project_name = row[cols[1]] + row[cols[2]] + row[cols[3]] + row[cols[4]] + row[cols[5]]
        project_name = project_name.replace('  ',' ').strip()
        df_filtered.at[index, cols[1]] = project_name
        for i in range(2,13):
            j = i + 4
            df_filtered.at[index, cols[i], inplace=True] = row[cols[j]]
        for i in range(-4,0):
            df_filtered.at[index,cols[i]] = np.nan

In [223]:
df_filtered.loc[(df['Unnamed_15'] > 0)]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
104120,1618382802,Druid Hill Park Passport: Discover,Enjoy,Learn,Be active!,Publishing,Publishing,USD,2012-07-28 01:30:00,9500,2012-06-06 23:54:14,9854,successful,208,US,9854,NaN
264243,642928449,FRANCIS - The Pope,Buenos Aires,soccer,tango and culture,Film & Video,Film & Video,USD,2014-03-02 23:34:00,75000,2014-02-05 02:06:20,0,failed,0,US,0,NaN
269970,677103185,SixSixSeven Angels Demons Religion Esoteric,Graphic Novels,Comics,USD,2015-10-10 01:00:00,750,2015-09-10 18:15:45,25,failed,1,US,25,NaN,NaN,NaN,NaN

In [220]:
list(df_filtered)[-1]

'Unnamed_16'

In [216]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1